<ng-container *ngIf="listQuestions.length > 0">

  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="listQuestions.length > 0 && !loading" class="row mt-3">

    <div class="col-lg-8 offset-lg-2">

      <ng-container *ngFor="let question of listQuestions; let i = index;">

        <div class="card mb-3">

          <div class="card-body text-center">

            <p class="titleQuestion">{{ question.title }}</p>

            <div class="row">

              <div class="col-6">

                <p><span class="badge bg-dark"> {{ question.seconds }}s</span></p>

              </div>

              <div class="col-6">

                <p><span class="badge bg-dark"> {{ question.points }}pt</span></p>

              </div>

            </div>

            <ul class="list-group">

              <ng-container *ngFor="let answer of question.listAnswers">

                <li class="list-group-item"
                    [ngClass]="answer.isTrue === true ? 'true':''">
                  {{ answer.title }}
                </li>

              </ng-container>

            </ul>
            <div>
              <i class="fas fa-trash" (click)="deleteQuestion(i)"></i>
            </div>

          </div>

        </div>

      </ng-container>

      <div class="row mt-3">

        <div class="col-12 text-center">

          <button (click)="saveQuiz()" class="btn-principal" style="width: 100%;font-size:28px">Save Quiz</button>

        </div>

      </div>

    </div>

  </div>

</ng-container>
