<div class="d-flex justify-content-center mt-5">
  <button class="btn-principal btn-qanda" routerLink="/dashboard/createQuiz">New</button>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Quantity of questions</th>
                <th>Code</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mundial de futbol</td>
                <td>10</td>
                <td><span class="badge bg-black">NAGTS4D7</span></td>
              <td>
                <i class="fas fa-search"></i>
                <i class="fas fa-chart-line"></i>
                <i class="fas fa-trash"></i>
              </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
