@import '../../../../styles.scss';

.btn-qanda{
  padding: 0px 50px;
}
.bg-black{
  background-color: $primary;
}

.fas {
  cursor: pointer;
  font-size: 25px;
  margin: 0px 5px;
}

.fa-chart-line{
  color:$success;
}

.fa-trash{
  color:$danger;
}
