<div class="d-flex justify-content-center mt-5">
  <button class="btn-principal btn-qanda" routerLink="/dashboard/createQuiz">New</button>
</div>
<div *ngIf="loading"class="d-flex justify-content-center mt-5">
  <app-spinner></app-spinner>
</div>
<div *ngIf="listQuizzes.length > 0 && !loading" class="container">
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Quantity of questions</th>
                <th>Code</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of listQuizzes">
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.quantityQuestions }}</td>
                <td><span class="badge bg-black">{{ quiz.code }}</span></td>
              <td>
                <i class="fas fa-search" [routerLink]="['/dashboard/viewQuiz', quiz.id]"></i>
                <i class="fas fa-chart-line"></i>
                <i class="fas fa-trash" (click)="deleteQuiz(quiz.id!)"></i>
              </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listQuizzes.length > 0 && !loading" class="container">
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5>You don't have quizzes</h5>
        </div>
      </div>
    </div>
  </div>
</div>

