<div *ngIf="loading" class="d-flex justify-content-center mt-3">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading" class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="card card-title">
      <div class="card-body text-center">
        <h2 class="title">Answers list</h2>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="listAnswersUser.length > 0">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <table class="table">
            <thead>
              <tr>
                <th>Competitor</th>
                <th>Date</th>
                <th>Points</th>
                <th style="width: 20%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let answer of listAnswersUser">
                <td>{{ answer.nameUser }}</td>
                <td>{{ answer.date.toDate() | date:'dd/MM/yy'}}</td>
                <td>{{ answer.totalPoints }}</td>
                <td>
                  <i class="fas fa-search" [routerLink]="['/dashboard/answersUserAdmin', answer.id]"></i>
                  <i class="fas fa-trash" (click)="deleteAnswersUser(answer.id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="listAnswersUser.length === 0">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5>No answers to show</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <button routerLink="/dashboard" class="btn-principal mt-2 mb-2" style="width:100%">Return</button>
    </div>
  </div>
</div>
