@import '../../../../styles.scss';
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.input-accept{
  width: 230px;
  text-align: center;
  font-family: $font-primary;
  height: 3.125rem;
  font-size:1.25rem;
}

.btn-accept{
  width: 230px;
}
