<div class="container mt-5" *ngIf="!loading">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center title">Recover Password</h3>
          <form [formGroup]="recoverForm" (ngSubmit)="recover()">
            <div class="mb-3">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Input your e-mail"
                formControlName="user">

              <div
                class="text-danger"
                *ngIf= "recoverForm.get('user')?.hasError('required')
                        && recoverForm.get('user')?.touched">
                <strong>E-mail is required</strong>
              </div>

              <div
                class="text-danger"
                *ngIf= "recoverForm.get('user')?.hasError('email')
                        && recoverForm.get('user')?.touched">
                <strong>Enter a valid e-mail</strong>
              </div>

            </div>
            <button class="btn btn-secondary btn-lg" routerLink="/user">Return</button>
            <button class="btn btn-primary btn-lg float-end" type="submit" [disabled]="recoverForm.invalid">Accept</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
